*,
html * {
  scrollbar-width: thin;
  scrollbar-color: #eee rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: #eee;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  font-family: "Montserrat", "Times New Roman", Times, serif;
  color: #fff;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #fff;
  background-color: #171718;
  position: relative;
}
body.disable {
  overflow: hidden;
}

.body__wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

img {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.col {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.main-project {
  order: -1;
}

.copy {
  cursor: url(../images/icons/copy.png), auto;
}

.up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #1c1e22;
  border-radius: 10px;
  font-size: clamp(16px, 3vw, 32px);
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.2s ease, visibility 0.3s ease;
}
.up.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.up:hover {
  outline: 1px solid #fff;
}
.up:hover i {
  animation: upAnim 1s infinite linear;
}

@keyframes upAnim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.socials i {
  font-size: clamp(16px, 3vw, 32px);
  transition: scale 0.3s ease;
}
.socials i:hover {
  scale: 1.2;
}

@media screen and (max-width: 1024px) {
  .col {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 769px) {
  .container {
    padding: 0 10px;
  }
}
.navbar {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  background-color: rgba(23, 23, 24, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo {
  font-size: clamp(16px, 3vw, 28px);
  font-weight: 600;
}
.navbar__links {
  display: flex;
  align-items: center;
  gap: 30px;
  transition: 0.3s ease;
}
.navbar__link {
  font-weight: 500;
  font-size: clamp(10px, 2vw, 16px);
  position: relative;
}
.navbar__link::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #5c62ec;
  border-radius: 6px;
  transition: 0.3s ease;
}
.navbar__link--active::before {
  width: 100%;
  background-color: #fff;
}
.navbar__link:hover::before {
  width: 100%;
}
.navbar__burger {
  display: none;
}

@media screen and (max-width: 769px) {
  .navbar {
    position: relative;
    z-index: 10;
  }
  .navbar__burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20px;
    height: 80%;
    row-gap: 5px;
  }
  .navbar__burger span {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 6px;
    transition: 0.3s ease;
  }
  .navbar__burger span:nth-child(2) {
    transform: translateX(3px);
  }
  .navbar__burger--active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .navbar__burger--active span:nth-child(2) {
    opacity: 0;
  }
  .navbar__burger--active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .navbar__links {
    position: absolute;
    top: -1000px;
    right: 0;
    width: 100%;
    flex-direction: column;
    padding: 20px 0;
    background-color: #5c62ec;
    border-bottom: 1px solid #eee;
    overflow-y: auto;
  }
  .navbar__links--active {
    top: 101%;
  }
}
.button {
  position: relative;
  padding: 15px 20px;
  background-color: #5c62ec;
  border: 1px solid #fff;
  border-radius: 6px;
  font-size: clamp(10px, 2vw, 14px);
  font-weight: 600;
  overflow: hidden;
  z-index: 1;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30%;
  right: 30%;
  bottom: 0;
  background-color: #171718;
  border-radius: 50%;
  z-index: -1;
  scale: 0;
  transition: scale 0.3s ease;
}
.button:hover::before {
  scale: 3;
}
.button i {
  vertical-align: auto;
}

@media screen and (max-width: 769px) {
  .button {
    padding: 10px 14px;
  }
}
.footer {
  background-color: #101112;
  padding: 30px 0;
}
.footer__body {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  padding: 40px 0;
}
.footer__title {
  font-weight: 600;
  font-size: clamp(16px, 3vw, 28px);
  color: #eee;
}
.footer__socials {
  margin-left: auto;
}
.footer__socials-caption {
  margin-bottom: 20px;
  font-size: clamp(12px, 3vw, 18px);
}
.footer__down {
  margin-top: 30px;
  opacity: 0.8;
  font-size: clamp(6px, 2vw, 12px);
}

.main {
  padding: 50px 0;
}
.main__header {
  margin-bottom: 30px;
  border-bottom: 1px dashed #fff;
}
.main__title {
  margin-bottom: 5px;
  font-size: clamp(24px, 2vw, 32px);
}
.main__content {
  gap: 60px;
}
.main__box {
  position: relative;
  padding: 15px;
  border: 1px dashed #fff;
}
.main__caption {
  max-width: 80%;
  margin-bottom: 15px;
  font-size: clamp(16px, 2vw, 24px);
}
.main__date {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: clamp(10px, 2vw, 16px);
}
.main__text {
  font-size: clamp(12px, 2vw, 16px);
  line-height: 22px;
}
.main__text b {
  color: #cfd84a;
}
.main__img {
  margin: 30px auto;
  width: 45%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: scale 0.3s ease;
}
.main__img:hover {
  scale: 1.3;
}

@media screen and (max-width: 769px) {
  .main__img {
    height: 100px;
  }
}
@media screen and (max-width: 321px) {
  .main__img {
    width: 100%;
  }
  .main__caption {
    max-width: 70%;
    font-size: 14px;
  }
}